.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  width: 100%;
  position: relative;
  z-index: 3;
}

@media (max-width: 900px) {
  .container{
    flex-direction: column;
  }
}