.section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

.btn{
  animation: blink 4s infinite;
  color: white;
  transition: all 0.3s ease;
}
.btn:hover{
  animation: none;
  scale: 1.1;
  border: 1px solid white;
  border-radius: 10px;
}