

.section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  animation: appear  linear;
  animation-timeline: view();
  animation-range: entry 0;
  & h2{
    text-transform: uppercase;
    font-size: clamp(2rem, 10vw, 20rem);

  }
}

@keyframes appear{
  0%{
    opacity: 0;
    scale: 0.1;
  }
  100%{
    opacity: 1;
    scale: 1;
  }
}

.btn{
  animation: blink 4s infinite;
  color: white;
  transition: all 0.3s ease;
}
.btn:hover{
  animation: none;
  scale: 1.1;
  border: 1px solid white;
  border-radius: 10px;
}