
.section{
  background-color: rgb(241, 241, 241);
  width: 100%;
  z-index: 3;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  width: 100%;
  position: relative;
  color: #071512;
 
}

@media (max-width: 900px) {
  .container{
    flex-direction: column;
  }
}