.container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
    width: 100%;
    background-color: #f9f9f9;
    position: fixed;
}

/* .content{
    z-index: 2;
    padding: 80px;
    width: 100%;
    height: 100%;
    color: white;
    position: relative;
    
} */

.carousel{
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: red;
    height: 100%;
}

.imageContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.swiperContainer{
    background-color: green;
    height: 100%;
}

.swiperSlide{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}	
