.section{
  margin: 0 auto;

  height: 500vh;
  z-index: 3;
}



.div{
  
}

.textDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position:-webkit-sticky; 
  position:sticky; 
  top:0;
  background: linear-gradient(to right, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));

}

.thumbnail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 100px;
  
}	


