.section{
  margin: 0 auto;

  height: 500vh;
  z-index: 3;
}



.div{
  
}

.textDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position:-webkit-sticky; 
  position:sticky; 
  top:0;
  background: linear-gradient(to right, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));

}

.thumbnail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 100px;
  
}	


.btn{
  animation: blink 4s infinite;
  color: white;
  transition: all 0.3s ease;
}
.btn:hover{
  animation: none;
  scale: 1.1;
  border: 1px solid white;
  border-radius: 10px;
}

