.section{
  margin: 0 auto;

  height: 500vh;
  z-index: 3;
}



.div{
  
}

.textDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position:-webkit-sticky; 
  position:sticky; 
  top:0;
}

.thumbnail{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}	


