.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  
}

.textSection{
  z-index: 3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 20px;
  & h2{
    text-transform: uppercase;
  }
}

.spacer{
  height: 100vh;
}