.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  & > section:nth-child(2){
    z-index: 4;
  }
  & > section:nth-child(3){
    z-index: 3;
  }
}

.spacer{
  height: 100vh;
}