.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  
}

.textSection{
  z-index: 3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 20px;
  & h1{
    font-weight: 700;
    color: #fff;
    text-align: left;
  }
}

.spacer{
  height: 100vh;
}