.container{
  font-size: 0.8rem;
  z-index: 3;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300vh;
}

.span{
  font-family: var(--microgramma-font);
  text-transform: uppercase;
  font-size: 0.8rem;
  
}