.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    & h2 {
        font-size: 3.5rem;
    }
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
}


.imageContainer{
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  & img {
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
  }
}

.contentContainer{
  width: 100%;
}
